<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.iqc.IqcCoErrorCodeMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  --
            t.error_code errorCode,  -- 故障代码
            t.error_type errorType,  -- 故障类型
            t.error_desc errorDesc,  -- 故障描述
            t.odl_code odlCode,  -- 缺陷等级
            t.create_time createTime,  -- 创建时间:按当前时间自动创建
            t.update_time updateTime,  -- 更新时间
            t.depa_code depaCode,  -- 机构代码
            t.depa_name depaName  -- 部门名称
        from iqc_co_error_code t
        where 1=1
        <if test="p.errorCode != null and p.errorCode != ''">
            and t.error_code LIKE '%${p.errorCode}%'
        </if>
        <if test="p.errorDesc != null and p.errorDesc != ''">
            and t.error_desc LIKE '%${p.errorDesc}%'
        </if>
        order by t.id desc
    </select>
    <select id="getErrDesc" resultType="java.lang.String">
        SELECT
            DISTINCT e.error_desc
        FROM
            iqc_oqa_single_value t
            INNER JOIN iqc_co_error_code e ON e.error_code = t.osv_error_code
            WHERE
            t.oqc_no = #{oqcNo}
    </select>
</mapper>