<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.pdt.PdtFeedingStationDetailMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 
            t.fs_sn fsSn,  -- 料站表sn
            t.feeding_point_sn feedingPointSn,  -- 上料点sn
            t.item_code itemCode,  -- 料号
            t.item_name itemName,  -- 物料名称
            t.item_spec itemSpec,  -- 物料规格
            t.item_type itemType,  -- 送料器类型（1：料盘， 2： Tray）
            t.pcb_flag pcbFlag, -- pcb标识（Y/N）
            t.position position,  -- 零件位置
            t.qty qty,  -- 用量
            t.step step,  -- 步距
            t.section section,  -- 角度
            t.channel channel,  -- 通道(1,L 2,M 3,R)
            t.remark remark,  -- 备注
            t.create_time createTime,  -- 创建时间:按当前时间自动创建
            t.update_time updateTime  -- 更新时间
        from pdt_feeding_station_detail t
        where 1=1
        <if test="p.fsSn != null and p.fsSn != ''">
            and t.fs_sn LIKE '%${p.fsSn}%'
        </if>
        <if test="p.feedingPointSn != null and p.feedingPointSn != ''">
            and t.feeding_point_sn LIKE '%${p.feedingPointSn}%'
        </if>
        <if test="p.itemCode != null and p.itemCode != ''">
            and t.item_code LIKE '%${p.itemCode}%'
        </if>
        <if test="p.itemName != null and p.itemName != ''">
            and t.item_name LIKE '%${p.itemName}%'
        </if>
        <if test="p.itemSpec != null and p.itemSpec != ''">
            and t.item_spec LIKE '%${p.itemSpec}%'
        </if>
        <if test="p.itemType != null and p.itemType != ''">
            and t.item_type LIKE '%${p.itemType}%'
        </if>
        <if test="p.position != null and p.position != ''">
            and t.position LIKE '%${p.position}%'
        </if>
        <if test="p.qty != null and p.qty != ''">
            and t.qty LIKE '%${p.qty}%'
        </if>
        <if test="p.step != null and p.step != ''">
            and t.step LIKE '%${p.step}%'
        </if>
        <if test="p.section != null and p.section != ''">
            and t.section LIKE '%${p.section}%'
        </if>
        <if test="p.channel != null and p.channel != ''">
            and t.channel LIKE '%${p.channel}%'
        </if>
        <if test="p.remark != null and p.remark != ''">
            and t.remark LIKE '%${p.remark}%'
        </if>
        <if test="p.startTime != null and p.startTime != '' ">
            and t.create_time >= '${p.startTime}'
        </if>
        <if test="p.endTime !=null and p.endTime != '' ">
            and '${p.endTime}' >= t.create_time
        </if>
        order by t.id desc
    </select>
</mapper>