<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.sps.GzkPartsItemMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 
            t.item_code itemCode,  -- 物料代码
            t.item_name itemName,  -- 物料名称
            t.item_desc itemDesc,  -- 物料描述
            t.item_type_code itemTypeCode, -- 小类代码
            usiti.item_type_name itemTypeName,  -- 小类名称
            t.create_time createTime,  -- 创建时间:按当前时间自动创建
            t.update_time updateTime  -- 更新时间
        from gzk_parts_item t
        left join ums_spares_item_type_info usiti on t.item_type_code = usiti.item_type_code
        where 1=1
        <if test="p.itemCode != null and p.itemCode != ''">
            and t.item_code LIKE '%${p.itemCode}%'
        </if>
        <if test="p.itemName != null and p.itemName != ''">
            and t.item_name LIKE '%${p.itemName}%'
        </if>
        <if test="p.itemDesc != null and p.itemDesc != ''">
            and t.item_desc LIKE '%${p.itemDesc}%'
        </if>
        <if test="p.itemTypeCode != null and p.itemTypeCode != ''">
            and t.item_type_code LIKE '%${p.itemTypeCode}%'
        </if>
        <if test="p.startTime != null and p.startTime != '' ">
            and t.create_time >= '${p.startTime}'
        </if>
        <if test="p.endTime !=null and p.endTime != '' ">
            and '${p.endTime}' >= t.create_time
        </if>
        order by t.id desc
    </select>
</mapper>