<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.sps.SpsMaintenCommentInfoMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  --
            t.cycle_code cycleCode, -- 保养周期代码
            t.comment_code commentCode,  -- 保养内容代码
            t.comment_name commentName,  -- 保养内容名称
            t.comment_desc commentDesc,  -- 保养内容描述
            t.type_code typeCode,   -- 大类代码
            usti.type_name typeName,    -- 大类名称
            t.item_type_code itemTypeCode,  -- 使用备品类别
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime,  -- 更新时间
            usiti.item_type_name itemTypeName,
            smci.cycle_name cycleName   -- 保养周期
        from sps_mainten_comment_info t
        left join ums_spares_item_type_info usiti on t.item_type_code = usiti.item_type_code
        left join ums_spares_type_info usti on t.type_code = usti.type_code
        left join sps_mainten_cycle_info smci on t.cycle_code = smci.cycle_code
        where 1=1
        <if test="p.depaCode != null and p.depaCode != ''">
            and usti.depa_code in
            <foreach collection="p.umsDepas" separator="," close=")" open="(" item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="p.commentName != null and p.commentName != ''">
            and t.comment_name LIKE '%${p.commentName}%'
        </if>
        <if test="p.typeCode != null and p.typeCode != ''">
            and t.type_code LIKE '%${p.typeCode}%'
        </if>
        <if test="p.typeName != null and p.typeName != ''">
            and usti.type_name LIKE '%${p.typeName}%'
        </if>
        <if test="p.itemTypeCode != null and p.itemTypeCode != ''">
            and t.item_type_code LIKE '%${p.itemTypeCode}%'
        </if>
        <if test="p.itemTypeName != null and p.itemTypeName != ''">
            and usiti.item_type_name LIKE '%${p.itemTypeName}%'
        </if>
        <if test="p.cycleName != null and p.cycleName != ''">
            and smci.cycle_name LIKE '%${p.cycleName}%'
        </if>
        <if test="p.cycleCode != null and p.cycleCode != ''">
            and t.cycle_code LIKE '%${p.cycleCode}%'
        </if>
        order by t.id desc
    </select>
</mapper>