<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.sps.SpsSparesCheckDetailMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 
            t.check_no checkNo,  -- 盘点单号
            t.spares_no sparesNo,  -- 备品号
            t.inventor inventor,  -- 盘点人
            t.time_invent timeInvent,  -- 盘点时间
            t.state state,  -- 状态
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime  -- 更新时间
        from sps_spares_check_detail t
        order by t.id desc
    </select>
    <select id="getGZBPDetailByCheckNo" resultType="java.util.Map">
        select
            t.id id,  --
            t.check_no checkNo,  -- 盘点单号
            t.spares_no sparesNo,  -- 备品号
            t.inventor inventor,  -- 盘点人
            t.time_invent timeInvent,  -- 盘点时间
            t.state state,  -- 状态
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime,  -- 更新时间
            gpdi.pos pos,
            gpdi.item_code itemCode,
            usiti.item_type_name itemTypeName,
            gpi.item_name itemName,
            gpi.item_desc itemDesc,
            gpri.loc reqLoc
        from sps_spares_check_detail t
        left join gzk_parts_detail_info gpdi on gpdi.kgt_no=t.spares_no
        left join ums_spares_item_type_info usiti on usiti.item_type_code=gpdi.item_type_code
        left join gzk_parts_item gpi on gpi.item_code=gpdi.item_code
        left join gzk_parts_req_info gpri on t.spares_no=gpri.kgt_no and gpri.state=1
        where t.check_no=#{checkNo}
    </select>
    <select id="getGWDetailByCheckNo" resultType="java.util.Map">
        select
            t.id id,  --
            t.check_no checkNo,  -- 盘点单号
            t.spares_no sparesNo,  -- 备品号
            t.inventor inventor,  -- 盘点人
            t.time_invent timeInvent,  -- 盘点时间
            t.state state,  -- 状态
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime,  -- 更新时间
            msdi.item_code itemCode,   -- 料号
            msdi.pcb_count pcbCount,    -- 拼板数
            msdi.has_frame hasFrame,    -- 是否有框
            msdi.pos pos,               -- 储位
            msdi.cust_code custCode,    -- 客户代码
            uc.CUSTOMER customer,       -- 客户
            msdi.state state        -- 状态(1.在库 2.借出 3.报废 4.保养)
        from sps_spares_check_detail t
        left join mfg_stencils_detail_info msdi on t.spares_no=msdi.stencil_no
        left join ums_customer uc on msdi.cust_code = uc.CUST_CODE
        where t.check_no=#{checkNo}
    </select>
    <select id="getLQDetailByCheckNo" resultType="java.util.Map">
        select
            t.id id,  --
            t.check_no checkNo,  -- 盘点单号
            t.spares_no sparesNo,  -- 备品号
            t.inventor inventor,  -- 盘点人
            t.time_invent timeInvent,  -- 盘点时间
            t.state state,  -- 状态
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime,  -- 更新时间
            sfi.spec_code specCode, -- 规格代码
            ufs.spec_name specName, -- 规格
            uft.type_name typeName, -- 类型
            sfi.state state,        -- 状态（1，正常 2，不正常 3，使用中）
            sfi.position position   -- 站位
        from sps_spares_check_detail t
        left join sps_feeder_info sfi on t.spares_no=sfi.feeder_sn
        left join ums_feeder_spec ufs on sfi.spec_code = ufs.spec_code
        left join ums_feeder_type uft on ufs.type_id = uft.id
        where t.check_no=#{checkNo}
    </select>
    <select id="getDefaultDetailByCheckNo" resultType="java.util.Map">
        select
            t.id id,  --
            t.check_no checkNo,  -- 盘点单号
            t.spares_no sparesNo,  -- 备品号
            t.inventor inventor,  -- 盘点人
            t.time_invent timeInvent,  -- 盘点时间
            t.state state,  -- 状态
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime  -- 更新时间
        from sps_spares_check_detail t
        where t.check_no=#{checkNo}
    </select>
    <select id="getGZZJDetailByCheckNo" resultType="java.util.Map">
        select
            t.id id,  --
            t.check_no checkNo,  -- 盘点单号
            t.spares_no sparesNo,  -- 备品号
            t.inventor inventor,  -- 盘点人
            t.time_invent timeInvent,  -- 盘点时间
            t.state state,  -- 状态
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime,  -- 更新时间
            gfdi.pos pos
        from sps_spares_check_detail t
        left join gzk_fix_detail_info gfdi on gfdi.fix_no=t.spares_no
        where t.check_no=#{checkNo}
    </select>
</mapper>