<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.sms.SmsBarcodeRuleMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 
            t.rule_code ruleCode,  -- 规则代码
            t.rule_name ruleName,  -- 名称
            t.rule_desc ruleDesc,  -- 描述
            t.type type,  -- 条码类型(1，产品条码 2，箱号条码 3，栈板条码)
            t.cust_code custCode,  -- 客户代码
            t.is_check_limit isCheckLimit,  -- 是否长度校验
            t.barcode_limit barcodeLimit,  -- 条码长度
            t.is_default isDefault,  -- 默认标识
            t.joint_mark jointMark,  -- 连接符
            t.field_limit fieldLimit,  -- 流水号长度
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime  -- 更新时间
        from sms_barcode_rule t
        where 1=1
        <if test="p.ruleCode != null and p.ruleCode != ''">
            and t.rule_code = #{p.ruleCode}
        </if>
        <if test="p.ruleName != null and p.ruleName != ''">
            and t.rule_name LIKE '%${p.ruleName}%'
        </if>
        <if test="p.ruleDesc != null and p.ruleDesc != ''">
            and t.rule_desc LIKE '%${p.ruleDesc}%'
        </if>
        <if test="p.type != null and p.type != ''">
            and t.type LIKE '%${p.type}%'
        </if>
        <if test="p.custCode != null and p.custCode != ''">
            and t.cust_code LIKE '%${p.custCode}%'
        </if>
        <if test="p.isCheckLimit != null and p.isCheckLimit != ''">
            and t.is_check_limit LIKE '%${p.isCheckLimit}%'
        </if>
        <if test="p.barcodeLimit != null and p.barcodeLimit != ''">
            and t.barcode_limit LIKE '%${p.barcodeLimit}%'
        </if>
        <if test="p.isDefault != null and p.isDefault != ''">
            and t.is_default LIKE '%${p.isDefault}%'
        </if>
        <if test="p.jointMark != null and p.jointMark != ''">
            and t.joint_mark LIKE '%${p.jointMark}%'
        </if>
        <if test="p.fieldLimit != null and p.fieldLimit != ''">
            and t.field_limit LIKE '%${p.fieldLimit}%'
        </if>
        <if test="p.startTime != null and p.startTime != '' ">
            and t.create_time >= '${p.startTime}'
        </if>
        <if test="p.endTime !=null and p.endTime != '' ">
            and '${p.endTime}' >= t.create_time
        </if>
        order by t.id desc
    </select>
</mapper>