<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.sms.SmsWmsPoMapper">
    <select id="findList" resultType="com.rh.i_mes_plus.model.sms.SmsWmsPo">
        select * from sms_wms_po t
        order by t.id desc
    </select>
</mapper>