<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.sms.SmsWmsOutStockDetailMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 主键ID
            t.doc_no docNo,  -- 出库单据号
            t.item_code itemCode,  -- 出库料号
            t.item_name itemName,  -- 品名
            t.osd_amount_plan osdAmountPlan,  -- 计划出库数量
            t.osd_amount_real osdAmountReal,  -- 实际出库数量
            t.os_order_did osOrderDid,  -- 订单号
            t.osd_order osdOrder,  -- 销售订单号
            t.osd_po_no osdPoNo,  -- 客户订单号
            t.osd_line_no osdLineNo,  -- 行号
            t.osd_po_line osdPoLine,  -- 客户行号
            t.remark remark,  -- 备注
            t.unit unit,  -- 单位
            t.osd_fifo_flag osdFifoFlag,  -- 启用FIFO
            t.oqc_state oqcState,  -- OQC状态0、正常 1、允收2、拒收3、批退审批4、批退5、让步审批6、让步接收
            t.sap_out_stock_doc sapOutStockDoc,  -- SAP出货单
            t.sap_out_stock_line sapOutStockLine,  -- SAP出库单行号
            t.create_time createTime,  -- 创建时间:按当前时间自动创建
            t.update_time updateTime  -- 更新时间
        from sms_wms_out_stock_detail t
        order by t.id desc
    </select>
    <select id="getListByDocNo" resultType="java.util.Map">
        select
            t.item_code coItemCode,
            t.osd_amount_plan osdAmountPlan,
            t.osd_amount_real osdAmountReal,
            sd.doc_remark docRemark
        from sms_wms_out_stock_detail t
        LEFT JOIN sms_wms_out_stock_doc sd ON t.doc_no = sd.doc_no
        where t.doc_no=#{p.docNo}
    </select>
</mapper>