<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.i_mes_plus.mapper.ums.UmsProcessMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 主键
            t.process_code processCode,  -- 工序代码
            t.process_name processName,  -- 工序名称
            t.ms_code msCode,  -- 生产阶别
            ums.ms_name msName, -- 阶别名称
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime  -- 更新时间
        from ums_process t
        left join ums_mo_step ums on t.ms_code = ums.ms_code
        where 1=1
        <if test="p.processCode != null and p.processCode != ''">
            and t.process_code LIKE '%${p.processCode}%'
        </if>
        <if test="p.processName != null and p.processName != ''">
            and t.process_name LIKE '%${p.processName}%'
        </if>
        <if test="p.msCode != null and p.msCode != ''">
            and t.ms_code LIKE '%${p.msCode}%'
        </if>
        <if test="p.startTime != null and p.startTime != '' ">
            and t.create_time >= '${p.startTime}'
        </if>
        <if test="p.endTime !=null and p.endTime != '' ">
            and '${p.endTime}' >= t.create_time
        </if>
        order by t.process_code asc,t.id desc
    </select>
</mapper>